<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="UTF-8">
<title>Min första webbsida</title>
</head>
<body>
<!-- Rubrik på första nivån, visas vanligtvis stort och i fetstil -->
<h1>Välkommen till min webbsida! dsd</h1>
<!-- Ett paragraf-element som innehåller text -->
<p>Det här är en enkel webbsida skapad med grundläggande HTML.</p>
<!-- Länk till en annan webbsida -->
<a href="https://www.example.com">Besök vår hemsida</a>
</body>
</html>