<!DOCTYPE html>
<html lang="sv">
<head>
<meta charset="UTF-8">
<title>Evenemangshantering</title>
</head>
<body>

<h1>Välkommen till Manges Evenemang </h1>

<p>Logga in för att se dina evenemang </p>

</body>
</html>
